
.tittledetail{
    margin-top: 210px;;
    height: 80px;
    width: 100%;
    border-top-style: solid;
    border-bottom-style: solid;
}

.conteinerdetail{
    margin: auto;
    margin-top: 75px;
    border-radius: 15px;
    height: auto;
    width: 80%;
}

.imgdetail{
    width: 55%;
    height: auto;
    border-right: solid red 2px;
}

.descriptiondetail{
    width: 45%;
    height: auto;
    color: white;
    background-image: url("https://cdn.cnn.com/cnn/.e/img/3.0/branding/backgrounds/feel-the-force/feel-the-force-background-full.jpg")
}

.tittledetail2{
    width: 92%;
    margin: auto;
    margin-top: 15px;
}

.contentdetail{
    width: 92%;
    margin: auto;
    margin-top: 15px;
}

.bottomdetail{
    margin: auto;
    margin-top: 45px;
    margin-bottom: 50px;
    height: 75px;
    width: 80%;
}

.bottomdetail1{
    padding-right: 22%;
    padding-left: 10px;
    border-right: solid whitesmoke 1px;
    color: white;
}

.bottomdetail2{
    color: white;
    padding-left: 10px;
}

