
.navbar{
    flex-direction: column;
    background-image: url("http://cdn8.dissolve.com/p/D1307_52_005/D1307_52_005_0004_600.jpg");
    color: white;
}

.footer{
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-image: url("http://cdn8.dissolve.com/p/D1307_52_005/D1307_52_005_0004_600.jpg");
    color: white;
}
