
.navbar{
    flex-direction: column;
    background-image: url("http://cdn8.dissolve.com/p/D1307_52_005/D1307_52_005_0004_600.jpg");
    color: white;
}

body{
    background-color: black;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 20px;
}

.tittle{
    margin: auto;
}

.tittlebod{
    margin-top: 245px;
    height: 80px;
    width: 100%;
    border-top-style: solid;
    border-bottom-style: solid;
}

.tittlebrowser{
display:table-cell;
 width: 100%;
 height: 80px;
 vertical-align:middle;
 padding-left: 25px;
 color: white;
}

.tittlegrid1{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    border-top-style: solid;
    border-bottom-style: solid;
}

.h1grid1{
display:table-cell;
 width: 100%;
 height: 50px;
 vertical-align:middle;
 padding-left: 50px;
 color: white;
}

.tittlegrid2{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    border-top-style: solid;
    border-bottom-style: solid;
}

.h1grid2{
display:table-cell;
 width: 100%;
 height: 50px;
 vertical-align:middle;
 padding-left: 50px;
 color: white;
}

.card-deck{
    margin: auto;
}

.card-body{
    background-color: gainsboro;
}

.card-title{
    font-size: 25px;
}

.card-body{
    padding-top: 5px;
    padding-bottom: 0px;
}

.card-text{
    background-color: gainsboro;
    padding-left: 20px;
}

.tittledetail{
    margin-top: 245px;;
    height: 80px;
    width: 100%;
    border-top-style: solid;
    border-bottom-style: solid;
}

.conteinerdetail{
    margin: auto;
    margin-top: 75px;
    border-radius: 15px;
    height: auto;
    width: 80%;
}

.imgdetail{
    width: 55%;
    height: auto;
    border-right: solid red 2px;
}

.descriptiondetail{
    width: 45%;
    height: auto;
    color: white;
    background-image: url("https://cdn.cnn.com/cnn/.e/img/3.0/branding/backgrounds/feel-the-force/feel-the-force-background-full.jpg")
}

.tittledetail2{
    width: 92%;
    margin: auto;
    margin-top: 15px;
}

.contentdetail{
    width: 92%;
    margin: auto;
    margin-top: 15px;
}

.bottomdetail{
    margin: auto;
    margin-top: 45px;
    margin-bottom: 50px;
    height: 75px;
    width: 80%;
}

.bottomdetail1{
    padding-right: 22%;
    padding-left: 10px;
    border-right: solid whitesmoke 1px;
    color: white;
}

.bottomdetail2{
    color: white;
    padding-left: 10px;
}



.footer{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-image: url("http://cdn8.dissolve.com/p/D1307_52_005/D1307_52_005_0004_600.jpg");
    color: white;
}
